import net.jini.discovery.LookupDiscovery;
import net.jini.core.discovery.LookupLocator;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.Name;
import net.jini.lookup.entry.Comment;
import net.jini.lookup.entry.Address;
import net.jini.lookup.entry.Location;
import net.jini.lookup.entry.ServiceInfo;
import java.io.File;

/*
 * Declares how the client will discover the Jini service registrar.  Once the
 * client has access to the registrar it will lookup the metadata service using
 * the provided group(s).  Each bigdata federation should use its own group for
 * ease of management and each client should limit its discovery to the group
 * corresponding to the federation(s) to which it will connect.
 */
ClientDescription {

	/*
	 * Note: multicast discovery is always used if LookupDiscovery.ALL_GROUPS is
	 * specified.
	 */
//    groups = LookupDiscovery.ALL_GROUPS;
    groups = new String[]{"bigdata"};

	/*
	 * One or more unicast URIs of the form jini://host/ or jini://host:port/.
	 * This MAY be an empty array if you want to use multicast discovery _and_
	 * you have specified LookupDiscovery.ALL_GROUPS above.
	 */
    unicastLocators = new LookupLocator[] { // empty
    	new LookupLocator("jini://localhost/")
                                          };    

	/*    
	 * The name of the property file containing the configuration information for
	 * the client.
	 */
    propertyFile = new File("src/resources/config/standalone/Client.properties");

}
