import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;

import net.jini.discovery.LookupDiscovery;
import net.jini.core.discovery.LookupLocator;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.Name;
import net.jini.lookup.entry.Comment;
import net.jini.lookup.entry.Address;
import net.jini.lookup.entry.Location;
import net.jini.lookup.entry.ServiceInfo;

import java.io.File;

import com.bigdata.util.NV;

import com.bigdata.jini.lookup.entry.*;
import com.bigdata.service.IBigdataClient;
import com.bigdata.service.jini.*;

import org.apache.zookeeper.ZooDefs;
import org.apache.zookeeper.data.ACL;
import org.apache.zookeeper.data.Id;

/*
 * This is a sample configuration file for a bigdata federation using
 * jini and zookeeper.
 * 
 * Guidelines:
 *
 * In order to use multiple federations, each federation will need a
 * unique identifier.  Since that identifier needs to be specified in
 * several places, it may be easier to set the identifier property as
 * an override via a script which starts the ServicesManagerServer.
 *
 * (1) If you will be running more than one federation, then YOU MUST
 * use unicast discovery and specify the federation name in the
 * discovery groups:
 *
 * groups = new String[] {name};
 *
 * where [name] is the name of the federation.
 * 
 * (2) The [zroot], which is the root within zookeeper of all znodes
 * for the federation;
 *
 * (3) The serviceDir so that you can tell at a glance which data
 * belongs to which federation.
 *
 */

/*
 * Note: This file uses the jini configuration mechanism.  The syntax
 * is a subset of Java.  The properties for each component are grouped
 * within the namespace for that component.
 *
 * See the net.jini.config.ConfigurationFile javadoc for more
 * information.
 */

/*
 * Service configuration defaults.  These can also be specified on a
 * per service-type basis.  When the property is an array type, the
 * value here is concatenated with the optional array value on the per
 * service-type configuration.  Otherwise it is used iff no value is
 * specified for the service-type configuration.
 */
com.bigdata.jini.start.config.ServiceConfiguration {

    /* 
     * Default java command line arguments that will be used for all
     * java-based services
     *
     * Note: [-Dcom.sun.jini.jeri.tcp.useNIO=true] enables NIO.
     */
    defaultJavaArgs = new String[]{
	"-server",
	"-ea",
	"-Dcom.sun.jini.jeri.tcp.useNIO=true",
	"-Djava.security.policy=policy.all"
    };

    // Optional classpath components.
    //classpath=new String[]{};

    /* Default path for service instances and their persistent
     * data. This may be overriden on a per service-type basis. 
     *
     * Note: For logical services that support failover, the concrete
     * service directory is assigned dynamically when a physical
     * service instance is created.
     */
    serviceDir = new File("test-fed");
    //serviceDir = new File("/var/bigdata");
 
    /* This will be passed through to the ConfigurationProvider via
     * the cmd line.
     */
    // jiniOptions = new String[]{};

    // bigdata services default logging configuration (value is a URI!)
    log4j="file:src/resources/logging/log4j.properties";

    /*
     * Set up some default properties values that will be inherited
     * (copy by value) by all clients and services started using this
     * configuration file.
     */
    properties = new NV[] {

    /* 
     * Each JiniClient (and hence all bigdata services) can run an
     * httpd that will expose performance counters for the service and
     * the host on which it is running.  This property specifies the
     * port for that httpd service.  Valid values are port number,
     * zero (0) for a random open port, MINUS ONE (-1) to disable the
     * httpd service.
     */
    new NV(IBigdataClient.Options.HTTPD_PORT, "-1"),

    /*
     * Option to disable collection of performance counters for the
     * host on which the client or service is running.
     *
     * Note: The load balancer relies on this information!
     */
    new NV(IBigdataClient.Options.COLLECT_PLATFORM_STATISTICS,"false"),

    /* Option to disable collection of performance counters on the
     * queues used internally by the client or service.
     *
     * Note: The load balancer relies on this information!
     */
    new NV(IBigdataClient.Options.COLLECT_QUEUE_STATISTICS,"false"),

    };

}

/**
 * Zookeeper server configuration.
 */
org.apache.zookeeper.server.quorum.QuorumPeerMain {

    /* Directory for zookeeper's persistent state.
     */
    dataDir = new File("test-fed/zookeeper");
    //dataDir = new File("/var/zookeeper");

    /* Optional directory for the zookeeper log files.
     * 
     * Note: A dedicated log device is highly recommended!
     */
    //dataLogDir=new File("/var/zookeeper-log");

    // required.
    clientPort=2181;

    tickTime=2000;

    initLimit=5;

    syncLimit=2;

    /* A comma delimited list of the known zookeeper servers together
     * with their assigned "myid".
     *
     * Note: You SHOULD specify the full list of servers that are
     * available to the federation. An instance of zookeeper will be
     * started automatically on each host running ServicesManager that
     * is present in the [servers] list IF no instance is found
     * running on that host at the specified [clientPort].
     * 
     * Note: zookeeper interprets NO entries as the localhost with
     * default peer and leader ports. This will work as long as the
     * localhost is already running zookeeper.  However, zookeeper
     * WILL NOT automatically start zookeeper if you do not specify
     * the [servers] property.  You can also explicitly specify
     * "localhost" as the hostname, but that only works for a single
     * machine.
     *
     * Note: jini can not handle the zookeeper [server.#] properties
     * since the property name is not a legal java
     * identifier. Therefore we use a meta-property "servers" whose
     * value is the list of the individual server properties.  The
     * syntax is obvious, if ugly.
     */
    // standalone
    servers="1=localhost:2888:3888";
    // ensemble
    //servers="1=zoo1:2888:3888, 2=zoo2:2888:3888, 3=zoo3:2888:3888";

    classpath = new String[] {
    	"lib/apache/zookeeper-3.0.1.jar",
	"../bigdata/lib/apache/log4j-1.2.15.jar"
    };

    /* Optional command line arguments for the JVM used to execute
     * zookeeper.
     *
     * Note: swapping for zookeeper is especially bad since the
     * operations are serialized, so if anything hits then disk then
     * all operations in the queue will have that latency as well.
     */
    //args=new String[]{"-Xmx2G"};

    // zookeeper server logging configuration (value is a URI!)
    log4j="file:src/resources/logging/log4j.properties";

}

/*
 * Zookeeper client configuration.
 */
org.apache.zookeeper.ZooKeeper {

    /* Root znode for the federation instance. */
    zroot = "/test-fed";

    /* A comma separated list of host:port pairs, where the port is
     * the CLIENT port for the zookeeper server instance.
     */
    servers = "localhost:2181";

    /* Session timeout (optional). */
    //sessionTimeout=xxxx;

    /* 
     * ACLs for the federation zroot.
     *
     * Note: zookeeper ACLs are not transmitted over secure channels
     * and are placed into plain text Configuration files by the
     * ServicesManagerServer.
     */
    acl = new ACL[] {

	new ACL(ZooDefs.Perms.ALL, new Id("world", "anyone"))

    };

}

/*
 * Jini client configuration
 */
com.bigdata.service.jini.JiniClient {

    /* Default Entry[] for jini services.  Also used by the
     * ServicesManagerService as is.
     *
     * Note: A Name attribute will be added automatically using the
     * service type and the znode of the service instance.  That Name
     * will be canonical.  It is best if additional service names are
     * NOT specified as that might confuse somethings :-)
     *
     * Note: A Hostname attribute will be added dynamically.
     */
    entries = new Entry[] {
	// Purely informative.
	new Comment("Test federation"),
    };

    /**
     * A String[] whose values are the group(s) to be used for discovery
     * (no default). Note that multicast discovery is always used if
     * LookupDiscovery.ALL_GROUPS (a <code>null</code>) is specified.
     */

    // one federation, multicast discovery.
    groups = LookupDiscovery.ALL_GROUPS;

    // multiple federations, MUST use unicast discovery.
    //groups = new String[]{"test-fed"};

    /**
     * One or more unicast URIs of the form <code>jini://host/</code>
     * or <code>jini://host:port/</code> (no default).
     *
     * This MAY be an empty array if you want to use multicast
     * discovery <strong>and</strong> you have specified the groups as
     * LookupDiscovery.ALL_GROUPS (a <code>null</code>).
     */
    locators = new LookupLocator[] {
	//new LookupLocator("jini://localhost/")
    };

    // optional JiniClient properties.
    //properties = new NV[] {};

}

/**
 * Options for the bigdata services manager.
 */
com.bigdata.jini.start.ServicesManagerServer {

    /*
     * This object is used to export the service proxy.  The choice
     * here effects the protocol that will be used for communications
     * between the clients and the service.
     *
     * Note: specify the JVM property
     * [-Dcom.sun.jini.jeri.tcp.useNIO=true] to enable NIO.
     */
    exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
                                     new BasicILFactory()); 

    /*                                          
     * The data directory and the file on which the serviceID will be
     * written.
     *
     * Note: These properties MUST be specified explicitly for the
     * ServicesManager since it uses this as its Configuration file.
     * For other services, it generates the Configuration file and
     * will generate this property as well.
     */

    serviceDir = new File("test-fed");

    serviceIdFile = new File("test-fed/ServicesManager/service.id"); 

    /*
     * Additional properties passed through to the JiniClient or the
     * service.
     */
    properties = new NV[]{

	/* Don't collect statistics from the OS since there is no load
	 * balancing for the ServicesManager itself).
	 */
	new NV(IBigdataClient.Options.COLLECT_PLATFORM_STATISTICS, "false"),

	// Don't sample the various queues.
	//new NV(IBigdataClient.Options.COLLECT_QUEUE_STATISTICS,"false"),

	// Don't run the httpd service.
	new NV(IBigdataClient.Options.HTTPD_PORT, "-1"),

    };

}

/**
 * @todo jini registrar as startable service.

    // The jini executable jini=new File("C:\Program
    Files\jini2_1\installverify\support\launch-all.exe");

*/

/**
 * Initial configuration for new instances of the transaction server.
 */
com.bigdata.service.jini.TransactionServer {

    // optional command line arguments.
    args = new String[]{"-Xmx1G", "-server"};

    /* Optional service specific properties (will override properties
     * already specified for the JiniClient).
     */
    //properties = new NV[] {};

}

com.bigdata.service.jini.MetadataServer {

}

com.bigdata.service.jini.LoadBalancerServer {

    /*
     * Override some properties.
     */
    properties = new NV[] {

    /* 
     * Each JiniClient (and hence all bigdata services) can run an
     * httpd that will expose performance counters for the service and
     * the host on which it is running.  This property specifies the
     * port for that httpd service.  Valid values are port number,
     * zero (0) for a random open port, MINUS ONE (-1) to disable the
     * httpd service.
     *
     * Note: The load balancer httpd normally uses a known port so
     * that it is easy to find.  This is where you will find all of
     * the performance counters aggregated for the entire federation,
     * including their history.
     */
    new NV(IBigdataClient.Options.HTTPD_PORT, "8080"),

    /*
     * Note: The load balancer SHOULD NOT collect platform statistics
     * itself since that interfers with its ability to aggregate
     * statistics about the host on which it is running.  Instead it
     * should rely on the presence of at least one other service
     * running on the same host to report those statistics to the load
     * balancer.
     */
    new NV(IBigdataClient.Options.COLLECT_PLATFORM_STATISTICS,"false"),
		
    /* 
     * The directory where the aggregated statistics will be logged.
     *
     * You only need to specify this if you want to put the files into
     * a well known location.
     *
     * @todo verify that an override here works.
     */
    //new NV(LoadBalancerServer.Options.LOG_DIR,"...")

    };

}

com.bigdata.service.jini.DataServer {

    serviceCount = 2;

    // you can override this property on a per-service type basis.
    //servicesDir = new File("/var/bigdata/...");

    /*
     * Note: the [dataDir] will be filled in when a new service
     * instance is created based on the [servicesDir].
     */
    params = new NV[]{

    };

}
