/*
 * Zookeeper client configuration.
 */
import com.bigdata.zookeeper.util.ConfigMath;

import org.apache.zookeeper.ZooDefs;
import org.apache.zookeeper.data.ACL;
import org.apache.zookeeper.data.Id;

/*
 * Globals.
 */
bigdata {

   private static fedname = "benchmark";

}

/*
 * Zookeeper client configuration.
 */
org.apache.zookeeper.ZooKeeper {

    /* Root znode for the federation instance. */
    zroot = "/" + bigdata.fedname;

    /* A comma separated list of host:port pairs, where the port is
     * the CLIENT port for the zookeeper server instance.
     */
    servers = "localhost:2081";

    /* Session timeout (optional). */
    sessionTimeout = (int)ConfigMath.s2ms(20);

    // Zookeeper ACLs.
    acl = new ACL[] {

       new ACL(ZooDefs.Perms.ALL, new Id("world", "anyone"))

    };

}
