import java.io.File;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
    private static policyFile = "@POLICY_FILE@";
    private static host = ConfigUtil.getHostName();
    private static port = "8081";
    private static jskdl = " http://" + host + ":" + port + "/jsk-dl.jar";
    private static libDir = "@LIB_DIR@"+File.separator+"jini"+File.separator;
    private static configDir = "@CONFIG_DIR@"+File.separator+"jini"+File.separator;

    serviceDescriptors = new ServiceDescriptor[]{
        new NonActivatableServiceDescriptor(
            "",
            policyFile,
            libDir+"classserver.jar",
            "com.sun.jini.tool.ClassServer",
            new String[]{"-port", port, "-dir", 
                "@JINI_HOME@"+File.separator+"lib-dl", 
                "-verbose"}),

/* Note: DO NOT attempt to start the browser since the GUI is normally not available
   when we start jini.
   
        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/browser-dl.jar" + jskdl,
            policyFile,
            libDir+"browser.jar",
            "com.sun.jini.example.browser.Browser",
            new String[] { configDir+"browser.config" }),
*/

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/reggie-dl.jar" + jskdl,
            policyFile,
            libDir+"reggie.jar",
            "com.sun.jini.reggie.TransientRegistrarImpl",
            new String[] { configDir+"reggie.config" }),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/fiddler-dl.jar" + jskdl,
            policyFile,
            libDir+"fiddler.jar",
            "com.sun.jini.fiddler.TransientFiddlerImpl",
            new String[] { configDir+"fiddler.config" }),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/mahalo-dl.jar" + jskdl,
            policyFile,
            libDir+"mahalo.jar",
            "com.sun.jini.mahalo.TransientMahaloImpl",
            new String[] { configDir+"mahalo.config" }),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/mercury-dl.jar" + jskdl,
            policyFile,
            libDir+"mercury.jar",
            "com.sun.jini.mercury.TransientMercuryImpl",
            new String[] { configDir+"mercury.config" }),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/norm-dl.jar" + jskdl,
            policyFile,
            libDir+"norm.jar",
            "com.sun.jini.norm.TransientNormServerImpl",
            new String[] { configDir+"norm.config" }),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/outrigger-dl.jar" + jskdl,
            policyFile,
            libDir+"outrigger.jar",
            "com.sun.jini.outrigger.TransientOutriggerImpl",
            new String[] { configDir+"outrigger.config" })
    };
}
