import com.sun.jini.config.ConfigUtil;

import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.core.discovery.LookupLocator;

import com.bigdata.util.config.NicUtil;

com.sun.jini.reggie {
    private static exportNic = "eth0";
    private static exportPort = 0;//randomly chosen port
    private static exportHost = NicUtil.getIpAddress(exportNic);
    private static exportIpAddr = NicUtil.getIpAddress(exportNic,0,exportHost);
    private static codebasePort = 23333;//value used if not set by system prop

    // Public configuration entries
    serverExporter = 
        new BasicJeriExporter
            (TcpServerEndpoint.getInstance(exportIpAddr,exportPort),
             new BasicILFactory(), false, true);

    initialMemberGroups = 
        new String[] {"bigdata.test.group-"+exportHost};//use if no sys prop

    unicastDiscoveryHost = exportIpAddr;
}

net.jini.discovery.LookupDiscovery {
    multicastRequestHost = com.sun.jini.reggie.unicastDiscoveryHost;
}
