import net.jini.discovery.LookupDiscovery;
import net.jini.core.discovery.LookupLocator;

import java.io.File;

jini {

    /**
     * Where jini was installed.
     */
    serviceDir = new File("C:\\Program Files\\jini2_1");

    /**
     * The #of instances to run.
     *
     * Note: A jini service instance may be started on a host if it is
     * declared in [locators].  If locators is empty, then you are
     * using multicast discovery.  In this case an instance may be
     * started on any host, unless [constraints] are imposed.  In any
     * case, no more than [serviceCount] jini services will be started
     * at any given time.  This is checked against the #of discovered
     * instances.
     */
    serviceCount = 1;

}

/*
 * Jini client configuration
 */
com.bigdata.service.jini.JiniClient {

    // one federation, multicast discovery.
    groups = LookupDiscovery.ALL_GROUPS;

    // multiple federations, MUST use unicast discovery.
    //groups = new String[]{"test"};

    locators = new LookupLocator[] {

	//new LookupLocator("jini://localhost/")

    };

}
